services:
  flask_app:
    build:
      context: ./
    container_name: flask_app
    command: python run.py
    volumes:
      - ./:/app
    ports:
      - "5001:5001"
    env_file:
      - .env
    environment:
      - FLASK_ENV=development
