services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: NAKAMA_PROJECT
    command: python run.py
    ports:
      - "5001:5001"
    env_file:
      - .env
    volumes:
      # монтируем весь проект внутрь контейнера
      - ./:/app
