services:
  flask_app:
    build:
      context: ./
    container_name: nakama
    command: python run.py
    volumes:
      - ./:/app
    ports:
      - "8080:5002"
    env_file:
      - .env
    environment:
      - FLASK_ENV=development
